{% extends "SioGsbBundle:Default:layout.html.twig" %}

{% block content %}
    <head>
        <title>
            {% block title %}
                GSB Planning
            {% endblock %}
        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--<link rel="stylesheet" type="text/css" href="{{ asset('css/cssGeneral.css') }}"-->
        <link href='/gsbplanning/web/calendar/fullcalendar.css' rel='stylesheet' />
        <link href='/gsbplanning/web/calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
        <script src='/gsbplanning/web/calendar/lib/moment.min.js'></script>
        <script src='/gsbplanning/web/calendar/lib/jquery.min.js'></script>
        <script src='/gsbplanning/web/calendar/fullcalendar.min.js'></script>
        <script>
            var now = new Date();
            var jour  = now.getDate();
            var mois = now.getMonth()+ 1;
            var annee = now.getFullYear();

            var date = annee+'-'+mois+'-'+jour;

            $(document).ready(function() {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultDate: date,
                    selectable: true,
                    selectHelper: true,
                    select: function(event) {
                        // opens events in a popup window
                        window.location.replace('http://127.0.0.1/gsbplanning/web/app_dev.php/addEvent');
                        return false;
                    },

                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: [
                    {% for unEvent in event %}
                        {
                            id: '{{ unEvent.id }}',
                            title: '{{ unEvent.Libelle }}',
                            start: '{{ unEvent.dateDebut }}',
                            end: '{{ unEvent.dateFin }}'
                        },
                    {% endfor %}
                    ],
                    eventClick: function(event) {
                        // opens events in a popup window
                        window.location.replace('http://127.0.0.1/gsbplanning/web/app_dev.php/detailEvent/id/'+event.id);
                        return false;
                    }
                });

            });

        </script>
        <style>


            #calendar {
                max-width: 900px;
                margin: 0 auto;
            }

        </style>
    </head>

    <div id="bandeau">
        <!-- L'image du bandeau -->

    </div>



    <div id='calendar'></div>
{% endblock %}

