{% extends "SioGsbBundle:Default:layout.html.twig" %}

{% block title %}{{ parent() }} -Detail Event{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/detailEvent.css') }}"
          xmlns="http://www.w3.org/1999/html">

    <div id="bloc_formulaire">
        <form name="modificationEvent" method="POST" action="{{ path('sio_gsb_updateEvent') }}">

            <br>

            <div id="titre">
                <div id="titre_modification_event" style="font-size: 24px;">Modification Événements</div>
            </div>

            <br>

            <input type="hidden" name="id" value="{{ app.session.get('id') }}">

            <div id="input">
                <div id="text">
                    Lieu :<input type="text" name="lieu" value="{{ app.session.get('lieu') }}">
                </div>
            </div>

            <div id="input">
                <div id="text">
                    Description :<input type="text" name="description" value="{{ app.session.get('description') }}">
                </div>
            </div>

            <div id="input">
                <div id="date">
                    Date Début :<input type="date" name="dateDebut" value="{{ app.session.get('dateDebut') }}">
                </div>
            </div>

            <div id="input">
                <div id="date">
                    Date Fin :<input type="date" name="dateFin" value="{{ app.session.get('dateFin') }}">
                </div>
            </div>

            <div id="input">
                <div id="time">
                    Heure Début :<input type="time" name="heureDebut" value="{{ app.session.get('heureDebut') }}">
                </div>
            </div>

            <div id="input">
                <div id="time">
                    Heure Fin :<input type="time" name="heureFin" value="{{ app.session.get('heureFin') }}">
                </div>
            </div>

            <div id="select">
                <select name="titre">
                {% for type in lesTypes %}
                    <option value="{{ type.id }}">{{ type.titre }}</option>
                {% endfor %}

                </select>
            </div>

            <div id="input">
                <div id="submit">
                    <input type="submit" name="modifier" value="Modifier">
                </div>
            </div>
        </form>
        <form name="supp" method="POST" action="{{ path('sio_gsb_suppEvent') }}">
    <input type="hidden" name="id" value="{{ app.session.get('idEven') }}">

            <div id="input">
                <div id="submit">
                    <input type="submit" name="supp" value="Supprimer">
                </div>
            </div>
</form>
        <form name="retour" method="POST" action="{{ path('sio_gsb_calendaradmin') }}">
            <div id="input">
                <div id="submit">
                    <input type="submit" name="retour" value="Annuler">
                </div>
            </div>
        </form>
    </div>
{% endblock %}


