{% extends "SioGsbBundle:Default:layout.html.twig" %}

{% block title %}{{ parent() }} -Detail Event{% endblock %}

{% block content %}

    <form name="modificationEvent" method="POST" action="{{ path('sio_gsb_updateEvent') }}">
        <input type="hidden" name="id" value="{{ app.session.get('id') }}"><br>
        <font color="#f0ffff">Lieu :</font><input type="text" name="lieu" value="{{ app.session.get('lieu') }}"><br>
        <font color="#f0ffff">Description :</font><input type="text" name="description" value="{{ app.session.get('description') }}"><br>
        <font color="#f0ffff">Date Début :</font><input type="date" name="dateDebut" value="{{ app.session.get('dateDebut') }}"><br>
        <font color="#f0ffff">Date Fin :</font><input type="date" name="dateFin" value="{{ app.session.get('dateFin') }}"><br>
        <font color="#f0ffff">Heure Début :</font><input type="time" name="heureDebut" value="{{ app.session.get('heureDebut') }}"><br>
        <font color="#f0ffff">Heure Fin :</font><input type="time" name="heureFin" value="{{ app.session.get('heureFin') }}"><br>
        <font color="#f0ffff">Type :</font><input type="text" name="titre" value="2"><br>
        <input type="submit" name="modifier" value="Modifier">
    </form>
    <form name="supp" method="POST" action="{{ path('sio_gsb_suppEvent') }}">
        <input type="hidden" name="id" value="{{ app.session.get('idEven') }}"><br>

        <input type="submit" name="supp" value="Supprimer">
    </form>
    <form name="retour" method="POST" action="{{ path('sio_gsb_calendaradmin') }}">
    <input type="submit" name="retour" value="Retour">
</form>
</center>

{% endblock %}